<div class="card">
    <div class="card-header">Filters</div>
        <div class="card-body">
            <form>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="de" placeholder="de">
                    <label for="de">De:</label>
                </div>

                <div class="form-floating">
                    <input type="number" class="form-control" id="ate" placeholder="ate">
                    <label for="ate">Até:</label>
                </div>

                <button class="btn btn-outline-primary btn-block btn-sm mt-2">Filter</button>
                
            </form>
        </div>
    
  </div>